<div class="bg-red-50 border-l-4 border-red-400 p-4 rounded-r-xl mb-8">
  <div class="flex">
    <div class="flex-shrink-0">
      <%= icon(:exclamation_triangle, class: "h-5 w-5 text-red-400") %>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-bold text-red-800">
        <%= t('activerecord.errors.messages.not_saved', 
              count: model.errors.count, 
              resource: model.model_name.human) %>
      </h3>
      <div class="mt-2 text-sm text-red-700">
        <ul class="list-disc pl-5 space-y-1">
          <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
