<div class="px-4 sm:px-6 lg:px-8 max-w-3xl mx-auto">
  <%= render "admin/shared/breadcrumbs", breadcrumbs: [
    { name: "管理者ユーザー管理", link: admin_admins_path },
    { name: "編集" }
  ] %>

  <div class="mb-10">
    <h1 class="text-3xl font-black text-gray-900 leading-tight">管理者情報の編集</h1>
    <p class="mt-2 text-sm text-gray-500 font-medium tracking-tight">メールアドレスやパスワードの変更を行います。</p>
  </div>

  <%= render "form", admin: @admin %>
</div>
